{% extends "menu.html" %}
{% block pagename %}
    <h1> {{ header }}</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <form action="" method="get">
    <label for="posts_per_page">Количество постов на странице:</label>
    <select id="posts_per_page" name="posts_per_page">
      <option value="3" {% if request.GET.posts_per_page == '3' %}selected{% endif %}>3</option>
      <option value="5" {% if request.GET.posts_per_page == '5' %}selected{% endif %}>5</option>
      <option value="10" {% if request.GET.posts_per_page == '10' %}selected{% endif %}>10</option>
    </select>
    <button type="submit">Применить</button>
  </form>
  <ul>
    {% for post in page_post %}
      <li>
        {{ post.name }} {{ post.brigade.name }}
      </li>
    {% endfor %}
  </ul>

  <!-- Пагинатор -->
  {% if page_post.has_previous %}
    <a href="?page={{ page_post.previous_page_number }}">Предыдущая страница</a>
  {% endif %}

  {% for num in page_post.paginator.page_range %}
    {% if page_post.number == num %}
      <span>{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_post.has_next %}
    <a href="?page={{ page_post.next_page_number }}">Следующая страница</a>
  {% endif %}
    <button type="submit" onclick="location.href='http://127.0.0.1:8000/plant/employee/sign_up';">Добавить</button>


{% endblock %}