<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if error %}
    <p style="color: red">{{ error }}</p>
{% endif %}
<form method="post">
  {% csrf_token %}
  <label for="name">Введите ФИО:</label>
  <input type="text" id="name" name="name" maxlength="50">

  <label for="position">Введите должность:</label>
  <input type="text" id="position" name="position" maxlength="50">

  <label for="boss">Введите статус:</label>
  <input type="checkbox" id="boss" name="boss">

  <label for="brigade">Введите бригаду:</label>
  <select id="brigade" name="brigade">
    {% for b in brigades %}
      <option value="{{ b }}">{{ b }}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Отправить">
</form>
{% if good %}
    <p style="color: green; text-align: center; font-size: 24px;">{{ good }}</p>
{% endif %}
</body>
</html>